.checkerboard_bg {
  background: url("../assets/checkerboard-bg.svg");
  background-position: center;
}

.sleek_scrollbar::-webkit-scrollbar {
  width: 4px;
  margin-left: 10px;
}

.sleek_scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.sleek_scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.2);
  border-radius: 40px;
}